@import url('https://fonts.googleapis.com/css2?family=Oswald:wght@200;300;400&family=Roboto:wght@300;400&display=swap');

div {
    font-family: 'Oswald', sans-serif;
    letter-spacing: 1px ;
}
button:hover {opacity:0.7;}
.btn:hover {opacity:0.7;}
.links {
    text-decoration: none;
    color:#2a1301 ;
}
.links:hover{
    color: #6e3c17;
    /*color: #2c015d;*/
}
a:hover{
    opacity:0.5;
}
.skill{transition: 1s;}
.skill:hover {transform: scale(1.1,1.1);
    box-shadow: 5px 6px 10px 0 rgba(117,115,117,1)}

/*.display-4{*/
/*font-family: 'Alumni Sans Collegiate One', sans-serif;*/
/*letter-spacing: 1px;*/
/*}*/